# Server Configuration
HOST=localhost
PORT=5000
 
# Node-postgres Configuration
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=password
PGDATABASE=databasename
PGPORT=5432

# JWT token
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=
ACCESS_TOKEN_AGE=1800
